<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Result Page</title>
        <style>
            body{
                background-image: url("https://th.bing.com/th/id/OIP.pEeC6HrAdS-l6aCdihJ2VgHaFW?w=281&h=203&c=7&r=0&o=5&dpr=1.5&pid=1.7");
                background-size: 100%
            }
            .pic{
                font-size: x-large;
                font-style: italic;
            }
            p{
                padding-right: 200px;
                font-family: monospace;
            }
        </style>
    </head>
    <body>
        
        <br><br><br><br><br><br><br><br><br>
        
        <h3><p class="pic" align = "center" style="color:rgb(12, 12, 54)">ITEM :  <i><%= name%></i></p></h3><br>
                    <h4><p align = "center" style="color:black;"><big>TOTAL CALORIES  : <i><%= calories%></i></big</p></h4>
                    <h4><p align = "center" style="color:black">SERVING SIZE(G) : <i><%= serving_size_g%></i></p></h4>
                    <h4><p align = "center" style="color:black">TOTAL_FAT(G)    : <i><%= fat_total_g%></i></p></h4>
                    <h4><p align = "center" style="color:black">protein_g : <i><%= protein_g%></i></p></h4>
                    <h4><p align = "center" style="color:black">potassium_mg : <i><%= potassium_mg%></i></p></h4>
                    <h4><p align = "center" style="color:black">cholesterol_mg : <i><%= cholesterol_mg%></i></p></h4>
                    <h4><p align = "center" style="color:black">carbohydrates_total_g : <i><%= carbohydrates_total_g%></i></p></h4>
                    <h4><p align = "center" style="color:black">sugar_g : <i><%= sugar_g%></i></p></h4>
               
           
    </body>
    </html>
